language: ruby
cache: bundler
rvm:
  - 2.7
  - 3.0
  - 3.1
script:
  - bundle install --path vendor/bundle
  - bundle exec rspec
  - gem build docker-hub.gemspec
  - gem install ./docker-hub-2-beta.2.gem
