=begin
#Docker HUB API

#Docker Hub is a service provided by Docker for finding and sharing container images with your team.  It is the world's largest library and community for container images.  In addition to the [Docker Hub UI](https://docs.docker.com/docker-hub/) and [Docker Hub CLI tool](https://github.com/docker/hub-tool#readme) (currently experimental), Docker provides an API that allows you to interact with Docker Hub.  Browse through the Docker Hub API documentation to explore the supported endpoints. 

The version of the OpenAPI document: 2-beta

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module DockerHub
  class AccessTokensApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List personal access tokens
    # Returns a paginated list of personal access tokens.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :page  (default to 1)
    # @option opts [Float] :page_size  (default to 10)
    # @return [GetAccessTokensResponse]
    def v2_access_tokens_get(opts = {})
      data, _status_code, _headers = v2_access_tokens_get_with_http_info(opts)
      data
    end

    # List personal access tokens
    # Returns a paginated list of personal access tokens.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :page  (default to 1)
    # @option opts [Float] :page_size  (default to 10)
    # @return [Array<(GetAccessTokensResponse, Integer, Hash)>] GetAccessTokensResponse data, response status code and response headers
    def v2_access_tokens_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccessTokensApi.v2_access_tokens_get ...'
      end
      # resource path
      local_var_path = '/v2/access-tokens'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAccessTokensResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccessTokensApi.v2_access_tokens_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccessTokensApi#v2_access_tokens_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create personal access token
    # Creates and returns a personal access token.
    # @param create_access_token_request [CreateAccessTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AccessToken]
    def v2_access_tokens_post(create_access_token_request, opts = {})
      data, _status_code, _headers = v2_access_tokens_post_with_http_info(create_access_token_request, opts)
      data
    end

    # Create personal access token
    # Creates and returns a personal access token.
    # @param create_access_token_request [CreateAccessTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccessToken, Integer, Hash)>] AccessToken data, response status code and response headers
    def v2_access_tokens_post_with_http_info(create_access_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccessTokensApi.v2_access_tokens_post ...'
      end
      # verify the required parameter 'create_access_token_request' is set
      if @api_client.config.client_side_validation && create_access_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_access_token_request' when calling AccessTokensApi.v2_access_tokens_post"
      end
      # resource path
      local_var_path = '/v2/access-tokens'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_access_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AccessToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccessTokensApi.v2_access_tokens_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccessTokensApi#v2_access_tokens_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete personal access token
    # Deletes a personal access token permanently. This cannot be undone. 
    # @param uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v2_access_tokens_uuid_delete(uuid, opts = {})
      v2_access_tokens_uuid_delete_with_http_info(uuid, opts)
      nil
    end

    # Delete personal access token
    # Deletes a personal access token permanently. This cannot be undone. 
    # @param uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v2_access_tokens_uuid_delete_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccessTokensApi.v2_access_tokens_uuid_delete ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling AccessTokensApi.v2_access_tokens_uuid_delete"
      end
      # resource path
      local_var_path = '/v2/access-tokens/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccessTokensApi.v2_access_tokens_uuid_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccessTokensApi#v2_access_tokens_uuid_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get personal access token
    # Returns a personal access token by UUID.
    # @param uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [V2AccessTokensUuidGet200Response]
    def v2_access_tokens_uuid_get(uuid, opts = {})
      data, _status_code, _headers = v2_access_tokens_uuid_get_with_http_info(uuid, opts)
      data
    end

    # Get personal access token
    # Returns a personal access token by UUID.
    # @param uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V2AccessTokensUuidGet200Response, Integer, Hash)>] V2AccessTokensUuidGet200Response data, response status code and response headers
    def v2_access_tokens_uuid_get_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccessTokensApi.v2_access_tokens_uuid_get ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling AccessTokensApi.v2_access_tokens_uuid_get"
      end
      # resource path
      local_var_path = '/v2/access-tokens/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V2AccessTokensUuidGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccessTokensApi.v2_access_tokens_uuid_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccessTokensApi#v2_access_tokens_uuid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update personal access token
    # Updates a personal access token partially. You can either update the token's label or enable/disable it. 
    # @param uuid [String] 
    # @param patch_access_token_request [PatchAccessTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AccessToken]
    def v2_access_tokens_uuid_patch(uuid, patch_access_token_request, opts = {})
      data, _status_code, _headers = v2_access_tokens_uuid_patch_with_http_info(uuid, patch_access_token_request, opts)
      data
    end

    # Update personal access token
    # Updates a personal access token partially. You can either update the token&#39;s label or enable/disable it. 
    # @param uuid [String] 
    # @param patch_access_token_request [PatchAccessTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccessToken, Integer, Hash)>] AccessToken data, response status code and response headers
    def v2_access_tokens_uuid_patch_with_http_info(uuid, patch_access_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccessTokensApi.v2_access_tokens_uuid_patch ...'
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling AccessTokensApi.v2_access_tokens_uuid_patch"
      end
      # verify the required parameter 'patch_access_token_request' is set
      if @api_client.config.client_side_validation && patch_access_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'patch_access_token_request' when calling AccessTokensApi.v2_access_tokens_uuid_patch"
      end
      # resource path
      local_var_path = '/v2/access-tokens/{uuid}'.sub('{' + 'uuid' + '}', CGI.escape(uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_access_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AccessToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccessTokensApi.v2_access_tokens_uuid_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccessTokensApi#v2_access_tokens_uuid_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
