=begin
#Docker HUB API

#Docker Hub is a service provided by Docker for finding and sharing container images with your team.  It is the world's largest library and community for container images.  In addition to the [Docker Hub UI](https://docs.docker.com/docker-hub/) and [Docker Hub CLI tool](https://github.com/docker/hub-tool#readme) (currently experimental), Docker provides an API that allows you to interact with Docker Hub.  Browse through the Docker Hub API documentation to explore the supported endpoints. 

The version of the OpenAPI document: 2-beta

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module DockerHub
  class AuditLogsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List audit log actions
    # List audit log actions for a namespace to be used as a filter for querying audit log events.  <span class=\"oat\"></span> 
    # @param account [String] Namespace to query audit log actions for.
    # @param [Hash] opts the optional parameters
    # @return [GetAuditActionsResponse]
    def audit_logs_list_audit_actions(account, opts = {})
      data, _status_code, _headers = audit_logs_list_audit_actions_with_http_info(account, opts)
      data
    end

    # List audit log actions
    # List audit log actions for a namespace to be used as a filter for querying audit log events.  &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param account [String] Namespace to query audit log actions for.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAuditActionsResponse, Integer, Hash)>] GetAuditActionsResponse data, response status code and response headers
    def audit_logs_list_audit_actions_with_http_info(account, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuditLogsApi.audit_logs_list_audit_actions ...'
      end
      # verify the required parameter 'account' is set
      if @api_client.config.client_side_validation && account.nil?
        fail ArgumentError, "Missing the required parameter 'account' when calling AuditLogsApi.audit_logs_list_audit_actions"
      end
      # resource path
      local_var_path = '/v2/auditlogs/{account}/actions'.sub('{' + 'account' + '}', CGI.escape(account.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAuditActionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AuditLogsApi.audit_logs_list_audit_actions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuditLogsApi#audit_logs_list_audit_actions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List audit log events
    # List audit log events for a given namespace.  <span class=\"oat\"></span> 
    # @param account [String] Namespace to query audit logs for.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action action name one of [\&quot;repo.tag.push\&quot;, ...]. Optional parameter to filter specific audit log actions. 
    # @option opts [String] :name name. Optional parameter to filter audit log events to a specific name. For repository events, this is the name of the repository. For organization events, this is the name of the organization. For team member events, this is the username of the team member. 
    # @option opts [String] :actor actor name. Optional parameter to filter audit log events to the specific user who triggered the event. 
    # @option opts [Time] :from Start of the time window you wish to query audit events for.
    # @option opts [Time] :to End of the time window you wish to query audit events for.
    # @option opts [Integer] :page page - specify page number. Page number to get. (default to 1)
    # @option opts [Integer] :page_size page_size - specify page size. Number of events to return per page. (default to 25)
    # @return [GetAuditLogsResponse]
    def audit_logs_list_audit_logs(account, opts = {})
      data, _status_code, _headers = audit_logs_list_audit_logs_with_http_info(account, opts)
      data
    end

    # List audit log events
    # List audit log events for a given namespace.  &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param account [String] Namespace to query audit logs for.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action action name one of [\&quot;repo.tag.push\&quot;, ...]. Optional parameter to filter specific audit log actions. 
    # @option opts [String] :name name. Optional parameter to filter audit log events to a specific name. For repository events, this is the name of the repository. For organization events, this is the name of the organization. For team member events, this is the username of the team member. 
    # @option opts [String] :actor actor name. Optional parameter to filter audit log events to the specific user who triggered the event. 
    # @option opts [Time] :from Start of the time window you wish to query audit events for.
    # @option opts [Time] :to End of the time window you wish to query audit events for.
    # @option opts [Integer] :page page - specify page number. Page number to get. (default to 1)
    # @option opts [Integer] :page_size page_size - specify page size. Number of events to return per page. (default to 25)
    # @return [Array<(GetAuditLogsResponse, Integer, Hash)>] GetAuditLogsResponse data, response status code and response headers
    def audit_logs_list_audit_logs_with_http_info(account, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuditLogsApi.audit_logs_list_audit_logs ...'
      end
      # verify the required parameter 'account' is set
      if @api_client.config.client_side_validation && account.nil?
        fail ArgumentError, "Missing the required parameter 'account' when calling AuditLogsApi.audit_logs_list_audit_logs"
      end
      # resource path
      local_var_path = '/v2/auditlogs/{account}'.sub('{' + 'account' + '}', CGI.escape(account.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'actor'] = opts[:'actor'] if !opts[:'actor'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAuditLogsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AuditLogsApi.audit_logs_list_audit_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuditLogsApi#audit_logs_list_audit_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
