=begin
#Docker HUB API

#Docker Hub is a service provided by Docker for finding and sharing container images with your team.  It is the world's largest library and community for container images.  In addition to the [Docker Hub UI](https://docs.docker.com/docker-hub/) and [Docker Hub CLI tool](https://github.com/docker/hub-tool#readme) (currently experimental), Docker provides an API that allows you to interact with Docker Hub.  Browse through the Docker Hub API documentation to explore the supported endpoints. 

The version of the OpenAPI document: 2-beta

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module DockerHub
  class AuthenticationApiApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create access token
    # Creates and returns a short-lived access token in JWT format for use as a bearer when calling Docker APIs.  If successful, the access token returned should be used in the HTTP Authorization header like  `Authorization: Bearer {access_token}`.  _**If your organization has SSO enforced, you must use a personal access token (PAT) instead of a password.**_ 
    # @param [Hash] opts the optional parameters
    # @option opts [AuthCreateAccessTokenRequest] :auth_create_access_token_request 
    # @return [AuthCreateTokenResponse]
    def auth_create_access_token(opts = {})
      data, _status_code, _headers = auth_create_access_token_with_http_info(opts)
      data
    end

    # Create access token
    # Creates and returns a short-lived access token in JWT format for use as a bearer when calling Docker APIs.  If successful, the access token returned should be used in the HTTP Authorization header like  &#x60;Authorization: Bearer {access_token}&#x60;.  _**If your organization has SSO enforced, you must use a personal access token (PAT) instead of a password.**_ 
    # @param [Hash] opts the optional parameters
    # @option opts [AuthCreateAccessTokenRequest] :auth_create_access_token_request 
    # @return [Array<(AuthCreateTokenResponse, Integer, Hash)>] AuthCreateTokenResponse data, response status code and response headers
    def auth_create_access_token_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApiApi.auth_create_access_token ...'
      end
      # resource path
      local_var_path = '/v2/auth/token'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'auth_create_access_token_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AuthCreateTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApiApi.auth_create_access_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApiApi#auth_create_access_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Second factor authentication
    # When a user has two-factor authentication (2FA) enabled, this is the second call to perform after `/v2/users/login` call.  Creates and returns a bearer token in JWT format that you can use to authenticate with Docker Hub APIs.  The returned token is used in the HTTP Authorization header like `Authorization: Bearer {TOKEN}`.  Most Docker Hub APIs require this token either to consume or to get detailed information. For example, to list images in a private repository. 
    # @param users2_fa_login_request [Users2FALoginRequest] Login details.
    # @param [Hash] opts the optional parameters
    # @return [PostUsersLoginSuccessResponse]
    def post_users2_fa_login(users2_fa_login_request, opts = {})
      data, _status_code, _headers = post_users2_fa_login_with_http_info(users2_fa_login_request, opts)
      data
    end

    # Second factor authentication
    # When a user has two-factor authentication (2FA) enabled, this is the second call to perform after &#x60;/v2/users/login&#x60; call.  Creates and returns a bearer token in JWT format that you can use to authenticate with Docker Hub APIs.  The returned token is used in the HTTP Authorization header like &#x60;Authorization: Bearer {TOKEN}&#x60;.  Most Docker Hub APIs require this token either to consume or to get detailed information. For example, to list images in a private repository. 
    # @param users2_fa_login_request [Users2FALoginRequest] Login details.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostUsersLoginSuccessResponse, Integer, Hash)>] PostUsersLoginSuccessResponse data, response status code and response headers
    def post_users2_fa_login_with_http_info(users2_fa_login_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApiApi.post_users2_fa_login ...'
      end
      # verify the required parameter 'users2_fa_login_request' is set
      if @api_client.config.client_side_validation && users2_fa_login_request.nil?
        fail ArgumentError, "Missing the required parameter 'users2_fa_login_request' when calling AuthenticationApiApi.post_users2_fa_login"
      end
      # resource path
      local_var_path = '/v2/users/2fa-login'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(users2_fa_login_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PostUsersLoginSuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApiApi.post_users2_fa_login",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApiApi#post_users2_fa_login\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an authentication token
    # Creates and returns a bearer token in JWT format that you can use to authenticate with Docker Hub APIs.  The returned token is used in the HTTP Authorization header like `Authorization: Bearer {TOKEN}`.  _**As of September 16, 2024, this route requires a personal access token (PAT) instead of a password if your organization has SSO enforced.**_  <div style=\"background-color:rgb(255, 165, 0, .25); padding:5px; border-radius:4px\">   <strong>Deprecated</strong>: Use [<a href=\"#tag/authentication-api/operation/AuthCreateAccessToken\">Create access token</a>] instead. </div> 
    # @param users_login_request [UsersLoginRequest] Login details.
    # @param [Hash] opts the optional parameters
    # @return [PostUsersLoginSuccessResponse]
    def post_users_login(users_login_request, opts = {})
      data, _status_code, _headers = post_users_login_with_http_info(users_login_request, opts)
      data
    end

    # Create an authentication token
    # Creates and returns a bearer token in JWT format that you can use to authenticate with Docker Hub APIs.  The returned token is used in the HTTP Authorization header like &#x60;Authorization: Bearer {TOKEN}&#x60;.  _**As of September 16, 2024, this route requires a personal access token (PAT) instead of a password if your organization has SSO enforced.**_  &lt;div style&#x3D;\&quot;background-color:rgb(255, 165, 0, .25); padding:5px; border-radius:4px\&quot;&gt;   &lt;strong&gt;Deprecated&lt;/strong&gt;: Use [&lt;a href&#x3D;\&quot;#tag/authentication-api/operation/AuthCreateAccessToken\&quot;&gt;Create access token&lt;/a&gt;] instead. &lt;/div&gt; 
    # @param users_login_request [UsersLoginRequest] Login details.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostUsersLoginSuccessResponse, Integer, Hash)>] PostUsersLoginSuccessResponse data, response status code and response headers
    def post_users_login_with_http_info(users_login_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApiApi.post_users_login ...'
      end
      # verify the required parameter 'users_login_request' is set
      if @api_client.config.client_side_validation && users_login_request.nil?
        fail ArgumentError, "Missing the required parameter 'users_login_request' when calling AuthenticationApiApi.post_users_login"
      end
      # resource path
      local_var_path = '/v2/users/login'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(users_login_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PostUsersLoginSuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApiApi.post_users_login",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApiApi#post_users_login\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
