=begin
#Docker HUB API

#Docker Hub is a service provided by Docker for finding and sharing container images with your team.  It is the world's largest library and community for container images.  In addition to the [Docker Hub UI](https://docs.docker.com/docker-hub/) and [Docker Hub CLI tool](https://github.com/docker/hub-tool#readme) (currently experimental), Docker provides an API that allows you to interact with Docker Hub.  Browse through the Docker Hub API documentation to explore the supported endpoints. 

The version of the OpenAPI document: 2-beta

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module DockerHub
  class GroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get groups of an organization
    # <span class=\"oat\"></span> 
    # @param org_name [String] Name of the organization (namespace).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (starts on 1).
    # @option opts [Integer] :page_size Number of items (rows) per page.
    # @option opts [String] :username Get groups for the specified username in the organization.
    # @option opts [String] :search Get groups for the specified group in the organization.
    # @return [V2OrgsOrgNameGroupsGet200Response]
    def v2_orgs_org_name_groups_get(org_name, opts = {})
      data, _status_code, _headers = v2_orgs_org_name_groups_get_with_http_info(org_name, opts)
      data
    end

    # Get groups of an organization
    # &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param org_name [String] Name of the organization (namespace).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (starts on 1).
    # @option opts [Integer] :page_size Number of items (rows) per page.
    # @option opts [String] :username Get groups for the specified username in the organization.
    # @option opts [String] :search Get groups for the specified group in the organization.
    # @return [Array<(V2OrgsOrgNameGroupsGet200Response, Integer, Hash)>] V2OrgsOrgNameGroupsGet200Response data, response status code and response headers
    def v2_orgs_org_name_groups_get_with_http_info(org_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.v2_orgs_org_name_groups_get ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling GroupsApi.v2_orgs_org_name_groups_get"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/groups'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'username'] = opts[:'username'] if !opts[:'username'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V2OrgsOrgNameGroupsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.v2_orgs_org_name_groups_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#v2_orgs_org_name_groups_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an organization group
    # <span class=\"oat\"></span> 
    # @param org_name [String] Name of the organization (namespace).
    # @param group_name [String] Name of the group (team) in the organization.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v2_orgs_org_name_groups_group_name_delete(org_name, group_name, opts = {})
      v2_orgs_org_name_groups_group_name_delete_with_http_info(org_name, group_name, opts)
      nil
    end

    # Delete an organization group
    # &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param org_name [String] Name of the organization (namespace).
    # @param group_name [String] Name of the group (team) in the organization.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v2_orgs_org_name_groups_group_name_delete_with_http_info(org_name, group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.v2_orgs_org_name_groups_group_name_delete ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling GroupsApi.v2_orgs_org_name_groups_group_name_delete"
      end
      # verify the required parameter 'group_name' is set
      if @api_client.config.client_side_validation && group_name.nil?
        fail ArgumentError, "Missing the required parameter 'group_name' when calling GroupsApi.v2_orgs_org_name_groups_group_name_delete"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/groups/{group_name}'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s)).sub('{' + 'group_name' + '}', CGI.escape(group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.v2_orgs_org_name_groups_group_name_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#v2_orgs_org_name_groups_group_name_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a group of an organization
    # <span class=\"oat\"></span> 
    # @param org_name [String] Name of the organization (namespace).
    # @param group_name [String] Name of the group (team) in the organization.
    # @param [Hash] opts the optional parameters
    # @return [OrgGroup]
    def v2_orgs_org_name_groups_group_name_get(org_name, group_name, opts = {})
      data, _status_code, _headers = v2_orgs_org_name_groups_group_name_get_with_http_info(org_name, group_name, opts)
      data
    end

    # Get a group of an organization
    # &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param org_name [String] Name of the organization (namespace).
    # @param group_name [String] Name of the group (team) in the organization.
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrgGroup, Integer, Hash)>] OrgGroup data, response status code and response headers
    def v2_orgs_org_name_groups_group_name_get_with_http_info(org_name, group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.v2_orgs_org_name_groups_group_name_get ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling GroupsApi.v2_orgs_org_name_groups_group_name_get"
      end
      # verify the required parameter 'group_name' is set
      if @api_client.config.client_side_validation && group_name.nil?
        fail ArgumentError, "Missing the required parameter 'group_name' when calling GroupsApi.v2_orgs_org_name_groups_group_name_get"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/groups/{group_name}'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s)).sub('{' + 'group_name' + '}', CGI.escape(group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrgGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.v2_orgs_org_name_groups_group_name_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#v2_orgs_org_name_groups_group_name_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List members of a group
    # List the members (users) that are in a group. If user is owner of the org or has otherwise elevated permissions, they can search by email and the result will also contain emails.  <span class=\"oat\"></span> 
    # @param org_name [String] Name of the organization (namespace).
    # @param group_name [String] Name of the group (team) in the organization.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (starts on 1).
    # @option opts [Integer] :page_size Number of items (rows) per page.
    # @option opts [String] :search Search members by username, full_name or email.
    # @return [V2OrgsOrgNameGroupsGroupNameMembersGet200Response]
    def v2_orgs_org_name_groups_group_name_members_get(org_name, group_name, opts = {})
      data, _status_code, _headers = v2_orgs_org_name_groups_group_name_members_get_with_http_info(org_name, group_name, opts)
      data
    end

    # List members of a group
    # List the members (users) that are in a group. If user is owner of the org or has otherwise elevated permissions, they can search by email and the result will also contain emails.  &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param org_name [String] Name of the organization (namespace).
    # @param group_name [String] Name of the group (team) in the organization.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (starts on 1).
    # @option opts [Integer] :page_size Number of items (rows) per page.
    # @option opts [String] :search Search members by username, full_name or email.
    # @return [Array<(V2OrgsOrgNameGroupsGroupNameMembersGet200Response, Integer, Hash)>] V2OrgsOrgNameGroupsGroupNameMembersGet200Response data, response status code and response headers
    def v2_orgs_org_name_groups_group_name_members_get_with_http_info(org_name, group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.v2_orgs_org_name_groups_group_name_members_get ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling GroupsApi.v2_orgs_org_name_groups_group_name_members_get"
      end
      # verify the required parameter 'group_name' is set
      if @api_client.config.client_side_validation && group_name.nil?
        fail ArgumentError, "Missing the required parameter 'group_name' when calling GroupsApi.v2_orgs_org_name_groups_group_name_members_get"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/groups/{group_name}/members'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s)).sub('{' + 'group_name' + '}', CGI.escape(group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V2OrgsOrgNameGroupsGroupNameMembersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.v2_orgs_org_name_groups_group_name_members_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#v2_orgs_org_name_groups_group_name_members_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a member to a group
    # <span class=\"oat\"></span> 
    # @param org_name [String] Name of the organization (namespace).
    # @param group_name [String] Name of the group (team) in the organization.
    # @param v2_orgs_org_name_groups_group_name_members_post_request [V2OrgsOrgNameGroupsGroupNameMembersPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v2_orgs_org_name_groups_group_name_members_post(org_name, group_name, v2_orgs_org_name_groups_group_name_members_post_request, opts = {})
      v2_orgs_org_name_groups_group_name_members_post_with_http_info(org_name, group_name, v2_orgs_org_name_groups_group_name_members_post_request, opts)
      nil
    end

    # Add a member to a group
    # &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param org_name [String] Name of the organization (namespace).
    # @param group_name [String] Name of the group (team) in the organization.
    # @param v2_orgs_org_name_groups_group_name_members_post_request [V2OrgsOrgNameGroupsGroupNameMembersPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v2_orgs_org_name_groups_group_name_members_post_with_http_info(org_name, group_name, v2_orgs_org_name_groups_group_name_members_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.v2_orgs_org_name_groups_group_name_members_post ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling GroupsApi.v2_orgs_org_name_groups_group_name_members_post"
      end
      # verify the required parameter 'group_name' is set
      if @api_client.config.client_side_validation && group_name.nil?
        fail ArgumentError, "Missing the required parameter 'group_name' when calling GroupsApi.v2_orgs_org_name_groups_group_name_members_post"
      end
      # verify the required parameter 'v2_orgs_org_name_groups_group_name_members_post_request' is set
      if @api_client.config.client_side_validation && v2_orgs_org_name_groups_group_name_members_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v2_orgs_org_name_groups_group_name_members_post_request' when calling GroupsApi.v2_orgs_org_name_groups_group_name_members_post"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/groups/{group_name}/members'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s)).sub('{' + 'group_name' + '}', CGI.escape(group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v2_orgs_org_name_groups_group_name_members_post_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.v2_orgs_org_name_groups_group_name_members_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#v2_orgs_org_name_groups_group_name_members_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a user from a group
    # <span class=\"oat\"></span> 
    # @param org_name [String] Name of the organization (namespace).
    # @param group_name [String] Name of the group (team) in the organization.
    # @param username [String] Username, identifier for the user (namespace, DockerID).
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v2_orgs_org_name_groups_group_name_members_username_delete(org_name, group_name, username, opts = {})
      v2_orgs_org_name_groups_group_name_members_username_delete_with_http_info(org_name, group_name, username, opts)
      nil
    end

    # Remove a user from a group
    # &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param org_name [String] Name of the organization (namespace).
    # @param group_name [String] Name of the group (team) in the organization.
    # @param username [String] Username, identifier for the user (namespace, DockerID).
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v2_orgs_org_name_groups_group_name_members_username_delete_with_http_info(org_name, group_name, username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.v2_orgs_org_name_groups_group_name_members_username_delete ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling GroupsApi.v2_orgs_org_name_groups_group_name_members_username_delete"
      end
      # verify the required parameter 'group_name' is set
      if @api_client.config.client_side_validation && group_name.nil?
        fail ArgumentError, "Missing the required parameter 'group_name' when calling GroupsApi.v2_orgs_org_name_groups_group_name_members_username_delete"
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling GroupsApi.v2_orgs_org_name_groups_group_name_members_username_delete"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/groups/{group_name}/members/{username}'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s)).sub('{' + 'group_name' + '}', CGI.escape(group_name.to_s)).sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.v2_orgs_org_name_groups_group_name_members_username_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#v2_orgs_org_name_groups_group_name_members_username_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update some details for an organization group
    # <span class=\"oat\"></span> 
    # @param org_name [String] Name of the organization (namespace).
    # @param group_name [String] Name of the group (team) in the organization.
    # @param [Hash] opts the optional parameters
    # @option opts [V2OrgsOrgNameGroupsGroupNamePatchRequest] :v2_orgs_org_name_groups_group_name_patch_request 
    # @return [OrgGroup]
    def v2_orgs_org_name_groups_group_name_patch(org_name, group_name, opts = {})
      data, _status_code, _headers = v2_orgs_org_name_groups_group_name_patch_with_http_info(org_name, group_name, opts)
      data
    end

    # Update some details for an organization group
    # &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param org_name [String] Name of the organization (namespace).
    # @param group_name [String] Name of the group (team) in the organization.
    # @param [Hash] opts the optional parameters
    # @option opts [V2OrgsOrgNameGroupsGroupNamePatchRequest] :v2_orgs_org_name_groups_group_name_patch_request 
    # @return [Array<(OrgGroup, Integer, Hash)>] OrgGroup data, response status code and response headers
    def v2_orgs_org_name_groups_group_name_patch_with_http_info(org_name, group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.v2_orgs_org_name_groups_group_name_patch ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling GroupsApi.v2_orgs_org_name_groups_group_name_patch"
      end
      # verify the required parameter 'group_name' is set
      if @api_client.config.client_side_validation && group_name.nil?
        fail ArgumentError, "Missing the required parameter 'group_name' when calling GroupsApi.v2_orgs_org_name_groups_group_name_patch"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/groups/{group_name}'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s)).sub('{' + 'group_name' + '}', CGI.escape(group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'v2_orgs_org_name_groups_group_name_patch_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'OrgGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.v2_orgs_org_name_groups_group_name_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#v2_orgs_org_name_groups_group_name_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update the details for an organization group
    # <span class=\"oat\"></span> 
    # @param org_name [String] Name of the organization (namespace).
    # @param group_name [String] Name of the group (team) in the organization.
    # @param [Hash] opts the optional parameters
    # @option opts [V2OrgsOrgNameGroupsPostRequest] :v2_orgs_org_name_groups_post_request 
    # @return [OrgGroup]
    def v2_orgs_org_name_groups_group_name_put(org_name, group_name, opts = {})
      data, _status_code, _headers = v2_orgs_org_name_groups_group_name_put_with_http_info(org_name, group_name, opts)
      data
    end

    # Update the details for an organization group
    # &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param org_name [String] Name of the organization (namespace).
    # @param group_name [String] Name of the group (team) in the organization.
    # @param [Hash] opts the optional parameters
    # @option opts [V2OrgsOrgNameGroupsPostRequest] :v2_orgs_org_name_groups_post_request 
    # @return [Array<(OrgGroup, Integer, Hash)>] OrgGroup data, response status code and response headers
    def v2_orgs_org_name_groups_group_name_put_with_http_info(org_name, group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.v2_orgs_org_name_groups_group_name_put ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling GroupsApi.v2_orgs_org_name_groups_group_name_put"
      end
      # verify the required parameter 'group_name' is set
      if @api_client.config.client_side_validation && group_name.nil?
        fail ArgumentError, "Missing the required parameter 'group_name' when calling GroupsApi.v2_orgs_org_name_groups_group_name_put"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/groups/{group_name}'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s)).sub('{' + 'group_name' + '}', CGI.escape(group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'v2_orgs_org_name_groups_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'OrgGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.v2_orgs_org_name_groups_group_name_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#v2_orgs_org_name_groups_group_name_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new group
    # Create a new group within an organization.  <span class=\"oat\"></span> 
    # @param org_name [String] Name of the organization (namespace).
    # @param [Hash] opts the optional parameters
    # @option opts [V2OrgsOrgNameGroupsPostRequest] :v2_orgs_org_name_groups_post_request 
    # @return [OrgGroup]
    def v2_orgs_org_name_groups_post(org_name, opts = {})
      data, _status_code, _headers = v2_orgs_org_name_groups_post_with_http_info(org_name, opts)
      data
    end

    # Create a new group
    # Create a new group within an organization.  &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param org_name [String] Name of the organization (namespace).
    # @param [Hash] opts the optional parameters
    # @option opts [V2OrgsOrgNameGroupsPostRequest] :v2_orgs_org_name_groups_post_request 
    # @return [Array<(OrgGroup, Integer, Hash)>] OrgGroup data, response status code and response headers
    def v2_orgs_org_name_groups_post_with_http_info(org_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.v2_orgs_org_name_groups_post ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling GroupsApi.v2_orgs_org_name_groups_post"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/groups'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'v2_orgs_org_name_groups_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'OrgGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.v2_orgs_org_name_groups_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#v2_orgs_org_name_groups_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
