=begin
#Docker HUB API

#Docker Hub is a service provided by Docker for finding and sharing container images with your team.  It is the world's largest library and community for container images.  In addition to the [Docker Hub UI](https://docs.docker.com/docker-hub/) and [Docker Hub CLI tool](https://github.com/docker/hub-tool#readme) (currently experimental), Docker provides an API that allows you to interact with Docker Hub.  Browse through the Docker Hub API documentation to explore the supported endpoints. 

The version of the OpenAPI document: 2-beta

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module DockerHub
  class InvitesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk create invites
    # Create multiple invites by emails or DockerIDs. Only a team owner can create invites.  <span class=\"oat\"></span> 
    # @param v2_invites_bulk_post_request [V2InvitesBulkPostRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_analytics_client_feature Optional string that indicates the feature used to submit the bulk invites (e.g.&#39;file&#39;, &#39;web&#39;)
    # @return [V2InvitesBulkPost202Response]
    def v2_invites_bulk_post(v2_invites_bulk_post_request, opts = {})
      data, _status_code, _headers = v2_invites_bulk_post_with_http_info(v2_invites_bulk_post_request, opts)
      data
    end

    # Bulk create invites
    # Create multiple invites by emails or DockerIDs. Only a team owner can create invites.  &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param v2_invites_bulk_post_request [V2InvitesBulkPostRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_analytics_client_feature Optional string that indicates the feature used to submit the bulk invites (e.g.&#39;file&#39;, &#39;web&#39;)
    # @return [Array<(V2InvitesBulkPost202Response, Integer, Hash)>] V2InvitesBulkPost202Response data, response status code and response headers
    def v2_invites_bulk_post_with_http_info(v2_invites_bulk_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitesApi.v2_invites_bulk_post ...'
      end
      # verify the required parameter 'v2_invites_bulk_post_request' is set
      if @api_client.config.client_side_validation && v2_invites_bulk_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v2_invites_bulk_post_request' when calling InvitesApi.v2_invites_bulk_post"
      end
      # resource path
      local_var_path = '/v2/invites/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Analytics-Client-Feature'] = opts[:'x_analytics_client_feature'] if !opts[:'x_analytics_client_feature'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v2_invites_bulk_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V2InvitesBulkPost202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InvitesApi.v2_invites_bulk_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitesApi#v2_invites_bulk_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel an invite
    # Mark the invite as cancelled so it doesn't show up on the list of pending invites  <span class=\"oat\"></span> 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v2_invites_id_delete(id, opts = {})
      v2_invites_id_delete_with_http_info(id, opts)
      nil
    end

    # Cancel an invite
    # Mark the invite as cancelled so it doesn&#39;t show up on the list of pending invites  &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v2_invites_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitesApi.v2_invites_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InvitesApi.v2_invites_id_delete"
      end
      # resource path
      local_var_path = '/v2/invites/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InvitesApi.v2_invites_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitesApi#v2_invites_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resend an invite
    # Resend a pending invite to the user, any org owner can resend an invite  <span class=\"oat\"></span> 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v2_invites_id_resend_patch(id, opts = {})
      v2_invites_id_resend_patch_with_http_info(id, opts)
      nil
    end

    # Resend an invite
    # Resend a pending invite to the user, any org owner can resend an invite  &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v2_invites_id_resend_patch_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitesApi.v2_invites_id_resend_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InvitesApi.v2_invites_id_resend_patch"
      end
      # resource path
      local_var_path = '/v2/invites/{id}/resend'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InvitesApi.v2_invites_id_resend_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitesApi#v2_invites_id_resend_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List org invites
    # Return all pending invites for a given org, only team owners can call this endpoint  <span class=\"oat\"></span> 
    # @param org_name [String] Name of the organization (namespace).
    # @param [Hash] opts the optional parameters
    # @return [V2OrgsOrgNameInvitesGet200Response]
    def v2_orgs_org_name_invites_get(org_name, opts = {})
      data, _status_code, _headers = v2_orgs_org_name_invites_get_with_http_info(org_name, opts)
      data
    end

    # List org invites
    # Return all pending invites for a given org, only team owners can call this endpoint  &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param org_name [String] Name of the organization (namespace).
    # @param [Hash] opts the optional parameters
    # @return [Array<(V2OrgsOrgNameInvitesGet200Response, Integer, Hash)>] V2OrgsOrgNameInvitesGet200Response data, response status code and response headers
    def v2_orgs_org_name_invites_get_with_http_info(org_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitesApi.v2_orgs_org_name_invites_get ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling InvitesApi.v2_orgs_org_name_invites_get"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/invites'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V2OrgsOrgNameInvitesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InvitesApi.v2_orgs_org_name_invites_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitesApi#v2_orgs_org_name_invites_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
