=begin
#Docker HUB API

#Docker Hub is a service provided by Docker for finding and sharing container images with your team.  It is the world's largest library and community for container images.  In addition to the [Docker Hub UI](https://docs.docker.com/docker-hub/) and [Docker Hub CLI tool](https://github.com/docker/hub-tool#readme) (currently experimental), Docker provides an API that allows you to interact with Docker Hub.  Browse through the Docker Hub API documentation to explore the supported endpoints. 

The version of the OpenAPI document: 2-beta

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module DockerHub
  class OrgAccessTokensApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List access tokens
    # List access tokens for an organization. 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :page  (default to 1)
    # @option opts [Float] :page_size  (default to 10)
    # @return [GetOrgAccessTokensResponse]
    def v2_orgs_name_access_tokens_get(opts = {})
      data, _status_code, _headers = v2_orgs_name_access_tokens_get_with_http_info(opts)
      data
    end

    # List access tokens
    # List access tokens for an organization. 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :page  (default to 1)
    # @option opts [Float] :page_size  (default to 10)
    # @return [Array<(GetOrgAccessTokensResponse, Integer, Hash)>] GetOrgAccessTokensResponse data, response status code and response headers
    def v2_orgs_name_access_tokens_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgAccessTokensApi.v2_orgs_name_access_tokens_get ...'
      end
      # resource path
      local_var_path = '/v2/orgs/{name}/access-tokens'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOrgAccessTokensResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgAccessTokensApi.v2_orgs_name_access_tokens_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgAccessTokensApi#v2_orgs_name_access_tokens_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create access token
    # Create an access token for an organization. 
    # @param create_org_access_token_request [CreateOrgAccessTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateOrgAccessTokenResponse]
    def v2_orgs_name_access_tokens_post(create_org_access_token_request, opts = {})
      data, _status_code, _headers = v2_orgs_name_access_tokens_post_with_http_info(create_org_access_token_request, opts)
      data
    end

    # Create access token
    # Create an access token for an organization. 
    # @param create_org_access_token_request [CreateOrgAccessTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateOrgAccessTokenResponse, Integer, Hash)>] CreateOrgAccessTokenResponse data, response status code and response headers
    def v2_orgs_name_access_tokens_post_with_http_info(create_org_access_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgAccessTokensApi.v2_orgs_name_access_tokens_post ...'
      end
      # verify the required parameter 'create_org_access_token_request' is set
      if @api_client.config.client_side_validation && create_org_access_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_org_access_token_request' when calling OrgAccessTokensApi.v2_orgs_name_access_tokens_post"
      end
      # resource path
      local_var_path = '/v2/orgs/{name}/access-tokens'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_org_access_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateOrgAccessTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgAccessTokensApi.v2_orgs_name_access_tokens_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgAccessTokensApi#v2_orgs_name_access_tokens_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete access token
    # Delete a specific access token for an organization. This action cannot be undone. 
    # @param org_name [String] Name of the organization (namespace).
    # @param access_token_id [String] The ID of the access token to retrieve
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v2_orgs_org_name_access_tokens_access_token_id_delete(org_name, access_token_id, opts = {})
      v2_orgs_org_name_access_tokens_access_token_id_delete_with_http_info(org_name, access_token_id, opts)
      nil
    end

    # Delete access token
    # Delete a specific access token for an organization. This action cannot be undone. 
    # @param org_name [String] Name of the organization (namespace).
    # @param access_token_id [String] The ID of the access token to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v2_orgs_org_name_access_tokens_access_token_id_delete_with_http_info(org_name, access_token_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgAccessTokensApi.v2_orgs_org_name_access_tokens_access_token_id_delete ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling OrgAccessTokensApi.v2_orgs_org_name_access_tokens_access_token_id_delete"
      end
      # verify the required parameter 'access_token_id' is set
      if @api_client.config.client_side_validation && access_token_id.nil?
        fail ArgumentError, "Missing the required parameter 'access_token_id' when calling OrgAccessTokensApi.v2_orgs_org_name_access_tokens_access_token_id_delete"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/access-tokens/{access_token_id}'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s)).sub('{' + 'access_token_id' + '}', CGI.escape(access_token_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgAccessTokensApi.v2_orgs_org_name_access_tokens_access_token_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgAccessTokensApi#v2_orgs_org_name_access_tokens_access_token_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get access token
    # Get details of a specific access token for an organization. 
    # @param org_name [String] Name of the organization (namespace).
    # @param access_token_id [String] The ID of the access token to retrieve
    # @param [Hash] opts the optional parameters
    # @return [GetOrgAccessTokenResponse]
    def v2_orgs_org_name_access_tokens_access_token_id_get(org_name, access_token_id, opts = {})
      data, _status_code, _headers = v2_orgs_org_name_access_tokens_access_token_id_get_with_http_info(org_name, access_token_id, opts)
      data
    end

    # Get access token
    # Get details of a specific access token for an organization. 
    # @param org_name [String] Name of the organization (namespace).
    # @param access_token_id [String] The ID of the access token to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetOrgAccessTokenResponse, Integer, Hash)>] GetOrgAccessTokenResponse data, response status code and response headers
    def v2_orgs_org_name_access_tokens_access_token_id_get_with_http_info(org_name, access_token_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgAccessTokensApi.v2_orgs_org_name_access_tokens_access_token_id_get ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling OrgAccessTokensApi.v2_orgs_org_name_access_tokens_access_token_id_get"
      end
      # verify the required parameter 'access_token_id' is set
      if @api_client.config.client_side_validation && access_token_id.nil?
        fail ArgumentError, "Missing the required parameter 'access_token_id' when calling OrgAccessTokensApi.v2_orgs_org_name_access_tokens_access_token_id_get"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/access-tokens/{access_token_id}'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s)).sub('{' + 'access_token_id' + '}', CGI.escape(access_token_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOrgAccessTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgAccessTokensApi.v2_orgs_org_name_access_tokens_access_token_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgAccessTokensApi#v2_orgs_org_name_access_tokens_access_token_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update access token
    # Update a specific access token for an organization. 
    # @param org_name [String] Name of the organization (namespace).
    # @param access_token_id [String] The ID of the access token to retrieve
    # @param update_org_access_token_request [UpdateOrgAccessTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateOrgAccessTokenResponse]
    def v2_orgs_org_name_access_tokens_access_token_id_patch(org_name, access_token_id, update_org_access_token_request, opts = {})
      data, _status_code, _headers = v2_orgs_org_name_access_tokens_access_token_id_patch_with_http_info(org_name, access_token_id, update_org_access_token_request, opts)
      data
    end

    # Update access token
    # Update a specific access token for an organization. 
    # @param org_name [String] Name of the organization (namespace).
    # @param access_token_id [String] The ID of the access token to retrieve
    # @param update_org_access_token_request [UpdateOrgAccessTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateOrgAccessTokenResponse, Integer, Hash)>] UpdateOrgAccessTokenResponse data, response status code and response headers
    def v2_orgs_org_name_access_tokens_access_token_id_patch_with_http_info(org_name, access_token_id, update_org_access_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgAccessTokensApi.v2_orgs_org_name_access_tokens_access_token_id_patch ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling OrgAccessTokensApi.v2_orgs_org_name_access_tokens_access_token_id_patch"
      end
      # verify the required parameter 'access_token_id' is set
      if @api_client.config.client_side_validation && access_token_id.nil?
        fail ArgumentError, "Missing the required parameter 'access_token_id' when calling OrgAccessTokensApi.v2_orgs_org_name_access_tokens_access_token_id_patch"
      end
      # verify the required parameter 'update_org_access_token_request' is set
      if @api_client.config.client_side_validation && update_org_access_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_org_access_token_request' when calling OrgAccessTokensApi.v2_orgs_org_name_access_tokens_access_token_id_patch"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/access-tokens/{access_token_id}'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s)).sub('{' + 'access_token_id' + '}', CGI.escape(access_token_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_org_access_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateOrgAccessTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgAccessTokensApi.v2_orgs_org_name_access_tokens_access_token_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgAccessTokensApi#v2_orgs_org_name_access_tokens_access_token_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
