=begin
#Docker HUB API

#Docker Hub is a service provided by Docker for finding and sharing container images with your team.  It is the world's largest library and community for container images.  In addition to the [Docker Hub UI](https://docs.docker.com/docker-hub/) and [Docker Hub CLI tool](https://github.com/docker/hub-tool#readme) (currently experimental), Docker provides an API that allows you to interact with Docker Hub.  Browse through the Docker Hub API documentation to explore the supported endpoints. 

The version of the OpenAPI document: 2-beta

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module DockerHub
  class OrgSettingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get organization settings
    # Returns organization settings by name. 
    # @param name [String] Name of the organization.
    # @param [Hash] opts the optional parameters
    # @return [OrgSettings]
    def v2_orgs_name_settings_get(name, opts = {})
      data, _status_code, _headers = v2_orgs_name_settings_get_with_http_info(name, opts)
      data
    end

    # Get organization settings
    # Returns organization settings by name. 
    # @param name [String] Name of the organization.
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrgSettings, Integer, Hash)>] OrgSettings data, response status code and response headers
    def v2_orgs_name_settings_get_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgSettingsApi.v2_orgs_name_settings_get ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling OrgSettingsApi.v2_orgs_name_settings_get"
      end
      # resource path
      local_var_path = '/v2/orgs/{name}/settings'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrgSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgSettingsApi.v2_orgs_name_settings_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgSettingsApi#v2_orgs_name_settings_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update organization settings
    # Updates an organization's settings. Some settings are only used when the organization is on a business subscription.  ***Only users with administrative privileges for the organization (owner role) can modify these settings.***  The following settings are only used on a business subscription: - `restricted_images` 
    # @param name [String] Name of the organization.
    # @param v2_orgs_name_settings_put_request [V2OrgsNameSettingsPutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [OrgSettings]
    def v2_orgs_name_settings_put(name, v2_orgs_name_settings_put_request, opts = {})
      data, _status_code, _headers = v2_orgs_name_settings_put_with_http_info(name, v2_orgs_name_settings_put_request, opts)
      data
    end

    # Update organization settings
    # Updates an organization&#39;s settings. Some settings are only used when the organization is on a business subscription.  ***Only users with administrative privileges for the organization (owner role) can modify these settings.***  The following settings are only used on a business subscription: - &#x60;restricted_images&#x60; 
    # @param name [String] Name of the organization.
    # @param v2_orgs_name_settings_put_request [V2OrgsNameSettingsPutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrgSettings, Integer, Hash)>] OrgSettings data, response status code and response headers
    def v2_orgs_name_settings_put_with_http_info(name, v2_orgs_name_settings_put_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgSettingsApi.v2_orgs_name_settings_put ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling OrgSettingsApi.v2_orgs_name_settings_put"
      end
      # verify the required parameter 'v2_orgs_name_settings_put_request' is set
      if @api_client.config.client_side_validation && v2_orgs_name_settings_put_request.nil?
        fail ArgumentError, "Missing the required parameter 'v2_orgs_name_settings_put_request' when calling OrgSettingsApi.v2_orgs_name_settings_put"
      end
      # resource path
      local_var_path = '/v2/orgs/{name}/settings'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v2_orgs_name_settings_put_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OrgSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgSettingsApi.v2_orgs_name_settings_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgSettingsApi#v2_orgs_name_settings_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
