=begin
#Docker HUB API

#Docker Hub is a service provided by Docker for finding and sharing container images with your team.  It is the world's largest library and community for container images.  In addition to the [Docker Hub UI](https://docs.docker.com/docker-hub/) and [Docker Hub CLI tool](https://github.com/docker/hub-tool#readme) (currently experimental), Docker provides an API that allows you to interact with Docker Hub.  Browse through the Docker Hub API documentation to explore the supported endpoints. 

The version of the OpenAPI document: 2-beta

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module DockerHub
  class OrgsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Export org members CSV
    # Export members of an organization as a CSV  <span class=\"oat\"></span> 
    # @param org_name [String] Name of the organization (namespace).
    # @param [Hash] opts the optional parameters
    # @return [Array<V2OrgsOrgNameMembersExportGet200ResponseInner>]
    def v2_orgs_org_name_members_export_get(org_name, opts = {})
      data, _status_code, _headers = v2_orgs_org_name_members_export_get_with_http_info(org_name, opts)
      data
    end

    # Export org members CSV
    # Export members of an organization as a CSV  &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param org_name [String] Name of the organization (namespace).
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<V2OrgsOrgNameMembersExportGet200ResponseInner>, Integer, Hash)>] Array<V2OrgsOrgNameMembersExportGet200ResponseInner> data, response status code and response headers
    def v2_orgs_org_name_members_export_get_with_http_info(org_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgsApi.v2_orgs_org_name_members_export_get ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling OrgsApi.v2_orgs_org_name_members_export_get"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/members/export'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/csv', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<V2OrgsOrgNameMembersExportGet200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgsApi.v2_orgs_org_name_members_export_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgsApi#v2_orgs_org_name_members_export_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List org members
    # Returns a list of members for an organization.  _The following fields are only visible to orgs with insights enabled._  - `last_logged_in_at` - `last_seen_at` - `last_desktop_version`  To make visible, please see [View Insights for organization users](https://docs.docker.com/admin/organization/insights/#view-insights-for-organization-users).  <span class=\"oat\"></span> 
    # @param org_name [String] Name of the organization (namespace).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :search Search term.
    # @option opts [Integer] :page Page number (starts on 1).
    # @option opts [Integer] :page_size Number of items (rows) per page.
    # @option opts [Boolean] :invites Include invites in the response.
    # @option opts [String] :type 
    # @option opts [String] :role 
    # @return [Array<OrgMemberPaginated>]
    def v2_orgs_org_name_members_get(org_name, opts = {})
      data, _status_code, _headers = v2_orgs_org_name_members_get_with_http_info(org_name, opts)
      data
    end

    # List org members
    # Returns a list of members for an organization.  _The following fields are only visible to orgs with insights enabled._  - &#x60;last_logged_in_at&#x60; - &#x60;last_seen_at&#x60; - &#x60;last_desktop_version&#x60;  To make visible, please see [View Insights for organization users](https://docs.docker.com/admin/organization/insights/#view-insights-for-organization-users).  &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param org_name [String] Name of the organization (namespace).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :search Search term.
    # @option opts [Integer] :page Page number (starts on 1).
    # @option opts [Integer] :page_size Number of items (rows) per page.
    # @option opts [Boolean] :invites Include invites in the response.
    # @option opts [String] :type 
    # @option opts [String] :role 
    # @return [Array<(Array<OrgMemberPaginated>, Integer, Hash)>] Array<OrgMemberPaginated> data, response status code and response headers
    def v2_orgs_org_name_members_get_with_http_info(org_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgsApi.v2_orgs_org_name_members_get ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling OrgsApi.v2_orgs_org_name_members_get"
      end
      allowable_values = ["all", "invitee", "member"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      allowable_values = ["owner", "editor", "member"]
      if @api_client.config.client_side_validation && opts[:'role'] && !allowable_values.include?(opts[:'role'])
        fail ArgumentError, "invalid value for \"role\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/members'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'invites'] = opts[:'invites'] if !opts[:'invites'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'role'] = opts[:'role'] if !opts[:'role'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OrgMemberPaginated>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgsApi.v2_orgs_org_name_members_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgsApi#v2_orgs_org_name_members_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove member from org
    # Removes the member from the org, ie. all groups in the org, unless they're the last owner  <span class=\"oat\"></span> 
    # @param org_name [String] Name of the organization (namespace).
    # @param username [String] Username, identifier for the user (namespace, DockerID).
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v2_orgs_org_name_members_username_delete(org_name, username, opts = {})
      v2_orgs_org_name_members_username_delete_with_http_info(org_name, username, opts)
      nil
    end

    # Remove member from org
    # Removes the member from the org, ie. all groups in the org, unless they&#39;re the last owner  &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param org_name [String] Name of the organization (namespace).
    # @param username [String] Username, identifier for the user (namespace, DockerID).
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v2_orgs_org_name_members_username_delete_with_http_info(org_name, username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgsApi.v2_orgs_org_name_members_username_delete ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling OrgsApi.v2_orgs_org_name_members_username_delete"
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling OrgsApi.v2_orgs_org_name_members_username_delete"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/members/{username}'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s)).sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgsApi.v2_orgs_org_name_members_username_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgsApi#v2_orgs_org_name_members_username_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update org member (role)
    # Updates the role of a member in the organization. ***Only users in the \"owners\" group of the organization can use this endpoint.***  <span class=\"oat\"></span> 
    # @param org_name [String] Name of the organization (namespace).
    # @param username [String] Username, identifier for the user (namespace, DockerID).
    # @param v2_orgs_org_name_members_username_put_request [V2OrgsOrgNameMembersUsernamePutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [OrgMember]
    def v2_orgs_org_name_members_username_put(org_name, username, v2_orgs_org_name_members_username_put_request, opts = {})
      data, _status_code, _headers = v2_orgs_org_name_members_username_put_with_http_info(org_name, username, v2_orgs_org_name_members_username_put_request, opts)
      data
    end

    # Update org member (role)
    # Updates the role of a member in the organization. ***Only users in the \&quot;owners\&quot; group of the organization can use this endpoint.***  &lt;span class&#x3D;\&quot;oat\&quot;&gt;&lt;/span&gt; 
    # @param org_name [String] Name of the organization (namespace).
    # @param username [String] Username, identifier for the user (namespace, DockerID).
    # @param v2_orgs_org_name_members_username_put_request [V2OrgsOrgNameMembersUsernamePutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrgMember, Integer, Hash)>] OrgMember data, response status code and response headers
    def v2_orgs_org_name_members_username_put_with_http_info(org_name, username, v2_orgs_org_name_members_username_put_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgsApi.v2_orgs_org_name_members_username_put ...'
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling OrgsApi.v2_orgs_org_name_members_username_put"
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling OrgsApi.v2_orgs_org_name_members_username_put"
      end
      # verify the required parameter 'v2_orgs_org_name_members_username_put_request' is set
      if @api_client.config.client_side_validation && v2_orgs_org_name_members_username_put_request.nil?
        fail ArgumentError, "Missing the required parameter 'v2_orgs_org_name_members_username_put_request' when calling OrgsApi.v2_orgs_org_name_members_username_put"
      end
      # resource path
      local_var_path = '/v2/orgs/{org_name}/members/{username}'.sub('{' + 'org_name' + '}', CGI.escape(org_name.to_s)).sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v2_orgs_org_name_members_username_put_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OrgMember'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgsApi.v2_orgs_org_name_members_username_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgsApi#v2_orgs_org_name_members_username_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
