=begin
#Docker HUB API

#Docker Hub is a service provided by Docker for finding and sharing container images with your team.  It is the world's largest library and community for container images.  In addition to the [Docker Hub UI](https://docs.docker.com/docker-hub/) and [Docker Hub CLI tool](https://github.com/docker/hub-tool#readme) (currently experimental), Docker provides an API that allows you to interact with Docker Hub.  Browse through the Docker Hub API documentation to explore the supported endpoints. 

The version of the OpenAPI document: 2-beta

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module DockerHub
  class RepositoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check repository in a namespace
    # Check a repository within the specified namespace (organization or user).  Public repositories are accessible to everyone, while private repositories require appropriate authentication and permissions. 
    # @param namespace [String] 
    # @param repository [String] 
    # @param [Hash] opts the optional parameters
    # @return [RepositoryInfo]
    def check_repository(namespace, repository, opts = {})
      data, _status_code, _headers = check_repository_with_http_info(namespace, repository, opts)
      data
    end

    # Check repository in a namespace
    # Check a repository within the specified namespace (organization or user).  Public repositories are accessible to everyone, while private repositories require appropriate authentication and permissions. 
    # @param namespace [String] 
    # @param repository [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryInfo, Integer, Hash)>] RepositoryInfo data, response status code and response headers
    def check_repository_with_http_info(namespace, repository, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesApi.check_repository ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling RepositoriesApi.check_repository"
      end
      # verify the required parameter 'repository' is set
      if @api_client.config.client_side_validation && repository.nil?
        fail ArgumentError, "Missing the required parameter 'repository' when calling RepositoriesApi.check_repository"
      end
      # resource path
      local_var_path = '/v2/namespaces/{namespace}/repositories/{repository}'.sub('{' + 'namespace' + '}', CGI.escape(namespace.to_s)).sub('{' + 'repository' + '}', CGI.escape(repository.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RepositoryInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RepositoriesApi.check_repository",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesApi#check_repository\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new repository
    # Creates a new repository within the specified namespace. The repository will be created with the provided metadata including name, description, and privacy settings. 
    # @param namespace [String] 
    # @param repo_creation_request [RepoCreationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RepositoryInfo]
    def create_repository(namespace, repo_creation_request, opts = {})
      data, _status_code, _headers = create_repository_with_http_info(namespace, repo_creation_request, opts)
      data
    end

    # Create a new repository
    # Creates a new repository within the specified namespace. The repository will be created with the provided metadata including name, description, and privacy settings. 
    # @param namespace [String] 
    # @param repo_creation_request [RepoCreationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryInfo, Integer, Hash)>] RepositoryInfo data, response status code and response headers
    def create_repository_with_http_info(namespace, repo_creation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesApi.create_repository ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling RepositoriesApi.create_repository"
      end
      # verify the required parameter 'repo_creation_request' is set
      if @api_client.config.client_side_validation && repo_creation_request.nil?
        fail ArgumentError, "Missing the required parameter 'repo_creation_request' when calling RepositoriesApi.create_repository"
      end
      # resource path
      local_var_path = '/v2/namespaces/{namespace}/repositories'.sub('{' + 'namespace' + '}', CGI.escape(namespace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(repo_creation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RepositoryInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RepositoriesApi.create_repository",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesApi#create_repository\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign a group (Team) to a repository for access
    # @param namespace [String] 
    # @param repository [String] 
    # @param repository_group_creation_request [RepositoryGroupCreationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RepositoryGroup]
    def create_repository_group(namespace, repository, repository_group_creation_request, opts = {})
      data, _status_code, _headers = create_repository_group_with_http_info(namespace, repository, repository_group_creation_request, opts)
      data
    end

    # Assign a group (Team) to a repository for access
    # @param namespace [String] 
    # @param repository [String] 
    # @param repository_group_creation_request [RepositoryGroupCreationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryGroup, Integer, Hash)>] RepositoryGroup data, response status code and response headers
    def create_repository_group_with_http_info(namespace, repository, repository_group_creation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesApi.create_repository_group ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling RepositoriesApi.create_repository_group"
      end
      # verify the required parameter 'repository' is set
      if @api_client.config.client_side_validation && repository.nil?
        fail ArgumentError, "Missing the required parameter 'repository' when calling RepositoriesApi.create_repository_group"
      end
      # verify the required parameter 'repository_group_creation_request' is set
      if @api_client.config.client_side_validation && repository_group_creation_request.nil?
        fail ArgumentError, "Missing the required parameter 'repository_group_creation_request' when calling RepositoriesApi.create_repository_group"
      end
      # resource path
      local_var_path = '/v2/repositories/{namespace}/{repository}/groups'.sub('{' + 'namespace' + '}', CGI.escape(namespace.to_s)).sub('{' + 'repository' + '}', CGI.escape(repository.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(repository_group_creation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RepositoryGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RepositoriesApi.create_repository_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesApi#create_repository_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get repository in a namespace
    # Returns a repository within the specified namespace (organization or user).  Public repositories are accessible to everyone, while private repositories require appropriate authentication and permissions. 
    # @param namespace [String] 
    # @param repository [String] 
    # @param [Hash] opts the optional parameters
    # @return [RepositoryInfo]
    def get_repository(namespace, repository, opts = {})
      data, _status_code, _headers = get_repository_with_http_info(namespace, repository, opts)
      data
    end

    # Get repository in a namespace
    # Returns a repository within the specified namespace (organization or user).  Public repositories are accessible to everyone, while private repositories require appropriate authentication and permissions. 
    # @param namespace [String] 
    # @param repository [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryInfo, Integer, Hash)>] RepositoryInfo data, response status code and response headers
    def get_repository_with_http_info(namespace, repository, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesApi.get_repository ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling RepositoriesApi.get_repository"
      end
      # verify the required parameter 'repository' is set
      if @api_client.config.client_side_validation && repository.nil?
        fail ArgumentError, "Missing the required parameter 'repository' when calling RepositoriesApi.get_repository"
      end
      # resource path
      local_var_path = '/v2/namespaces/{namespace}/repositories/{repository}'.sub('{' + 'namespace' + '}', CGI.escape(namespace.to_s)).sub('{' + 'repository' + '}', CGI.escape(repository.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RepositoryInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RepositoriesApi.get_repository",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesApi#get_repository\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read repository tag
    # @param namespace [String] 
    # @param repository [String] 
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @return [Tag]
    def get_repository_tag(namespace, repository, tag, opts = {})
      data, _status_code, _headers = get_repository_tag_with_http_info(namespace, repository, tag, opts)
      data
    end

    # Read repository tag
    # @param namespace [String] 
    # @param repository [String] 
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tag, Integer, Hash)>] Tag data, response status code and response headers
    def get_repository_tag_with_http_info(namespace, repository, tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesApi.get_repository_tag ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling RepositoriesApi.get_repository_tag"
      end
      # verify the required parameter 'repository' is set
      if @api_client.config.client_side_validation && repository.nil?
        fail ArgumentError, "Missing the required parameter 'repository' when calling RepositoriesApi.get_repository_tag"
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling RepositoriesApi.get_repository_tag"
      end
      # resource path
      local_var_path = '/v2/namespaces/{namespace}/repositories/{repository}/tags/{tag}'.sub('{' + 'namespace' + '}', CGI.escape(namespace.to_s)).sub('{' + 'repository' + '}', CGI.escape(repository.to_s)).sub('{' + 'tag' + '}', CGI.escape(tag.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Tag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RepositoriesApi.get_repository_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesApi#get_repository_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List repositories in a namespace
    # Returns a list of repositories within the specified namespace (organization or user).  Public repositories are accessible to everyone, while private repositories require appropriate authentication and permissions. 
    # @param namespace [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to get. Defaults to 1. (default to 1)
    # @option opts [Integer] :page_size Number of repositories to get per page. Defaults to 10. Max of 100. (default to 10)
    # @option opts [String] :name Filter repositories by name (partial match).
    # @option opts [String] :ordering Order repositories by the specified field. Prefix with &#39;-&#39; for descending order. Available options: - &#x60;name&#x60; / &#x60;-name&#x60;: Repository name (ascending/descending) - &#x60;last_updated&#x60; / &#x60;-last_updated&#x60;: Last update time (ascending/descending) - &#x60;pull_count&#x60; / &#x60;-pull_count&#x60;: Number of pulls (ascending/descending) 
    # @return [ListRepositoriesResponse]
    def list_namespace_repositories(namespace, opts = {})
      data, _status_code, _headers = list_namespace_repositories_with_http_info(namespace, opts)
      data
    end

    # List repositories in a namespace
    # Returns a list of repositories within the specified namespace (organization or user).  Public repositories are accessible to everyone, while private repositories require appropriate authentication and permissions. 
    # @param namespace [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to get. Defaults to 1. (default to 1)
    # @option opts [Integer] :page_size Number of repositories to get per page. Defaults to 10. Max of 100. (default to 10)
    # @option opts [String] :name Filter repositories by name (partial match).
    # @option opts [String] :ordering Order repositories by the specified field. Prefix with &#39;-&#39; for descending order. Available options: - &#x60;name&#x60; / &#x60;-name&#x60;: Repository name (ascending/descending) - &#x60;last_updated&#x60; / &#x60;-last_updated&#x60;: Last update time (ascending/descending) - &#x60;pull_count&#x60; / &#x60;-pull_count&#x60;: Number of pulls (ascending/descending) 
    # @return [Array<(ListRepositoriesResponse, Integer, Hash)>] ListRepositoriesResponse data, response status code and response headers
    def list_namespace_repositories_with_http_info(namespace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesApi.list_namespace_repositories ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling RepositoriesApi.list_namespace_repositories"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling RepositoriesApi.list_namespace_repositories, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling RepositoriesApi.list_namespace_repositories, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling RepositoriesApi.list_namespace_repositories, must be greater than or equal to 1.'
      end

      allowable_values = ["name", "-name", "last_updated", "-last_updated", "pull_count", "-pull_count"]
      if @api_client.config.client_side_validation && opts[:'ordering'] && !allowable_values.include?(opts[:'ordering'])
        fail ArgumentError, "invalid value for \"ordering\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v2/namespaces/{namespace}/repositories'.sub('{' + 'namespace' + '}', CGI.escape(namespace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListRepositoriesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RepositoriesApi.list_namespace_repositories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesApi#list_namespace_repositories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List repository tags
    # @param namespace [String] 
    # @param repository [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to get. Defaults to 1.
    # @option opts [Integer] :page_size Number of items to get per page. Defaults to 10. Max of 100.
    # @return [PaginatedTags]
    def list_repository_tags(namespace, repository, opts = {})
      data, _status_code, _headers = list_repository_tags_with_http_info(namespace, repository, opts)
      data
    end

    # List repository tags
    # @param namespace [String] 
    # @param repository [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to get. Defaults to 1.
    # @option opts [Integer] :page_size Number of items to get per page. Defaults to 10. Max of 100.
    # @return [Array<(PaginatedTags, Integer, Hash)>] PaginatedTags data, response status code and response headers
    def list_repository_tags_with_http_info(namespace, repository, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesApi.list_repository_tags ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling RepositoriesApi.list_repository_tags"
      end
      # verify the required parameter 'repository' is set
      if @api_client.config.client_side_validation && repository.nil?
        fail ArgumentError, "Missing the required parameter 'repository' when calling RepositoriesApi.list_repository_tags"
      end
      # resource path
      local_var_path = '/v2/namespaces/{namespace}/repositories/{repository}/tags'.sub('{' + 'namespace' + '}', CGI.escape(namespace.to_s)).sub('{' + 'repository' + '}', CGI.escape(repository.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedTags'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RepositoriesApi.list_repository_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesApi#list_repository_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update repository immutable tags
    # Updates the immutable tags configuration for this repository.  **Only users with administrative privileges for the repository can modify these settings.** 
    # @param namespace [String] 
    # @param repository [String] 
    # @param update_repository_immutable_tags_request [UpdateRepositoryImmutableTagsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RepositoryInfo]
    def update_repository_immutable_tags(namespace, repository, update_repository_immutable_tags_request, opts = {})
      data, _status_code, _headers = update_repository_immutable_tags_with_http_info(namespace, repository, update_repository_immutable_tags_request, opts)
      data
    end

    # Update repository immutable tags
    # Updates the immutable tags configuration for this repository.  **Only users with administrative privileges for the repository can modify these settings.** 
    # @param namespace [String] 
    # @param repository [String] 
    # @param update_repository_immutable_tags_request [UpdateRepositoryImmutableTagsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryInfo, Integer, Hash)>] RepositoryInfo data, response status code and response headers
    def update_repository_immutable_tags_with_http_info(namespace, repository, update_repository_immutable_tags_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesApi.update_repository_immutable_tags ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling RepositoriesApi.update_repository_immutable_tags"
      end
      # verify the required parameter 'repository' is set
      if @api_client.config.client_side_validation && repository.nil?
        fail ArgumentError, "Missing the required parameter 'repository' when calling RepositoriesApi.update_repository_immutable_tags"
      end
      # verify the required parameter 'update_repository_immutable_tags_request' is set
      if @api_client.config.client_side_validation && update_repository_immutable_tags_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_repository_immutable_tags_request' when calling RepositoriesApi.update_repository_immutable_tags"
      end
      # resource path
      local_var_path = '/v2/namespaces/{namespace}/repositories/{repository}/immutabletags'.sub('{' + 'namespace' + '}', CGI.escape(namespace.to_s)).sub('{' + 'repository' + '}', CGI.escape(repository.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_repository_immutable_tags_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RepositoryInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RepositoriesApi.update_repository_immutable_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesApi#update_repository_immutable_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check repository tags
    # @param namespace [String] 
    # @param repository [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v2_namespaces_namespace_repositories_repository_tags_head(namespace, repository, opts = {})
      v2_namespaces_namespace_repositories_repository_tags_head_with_http_info(namespace, repository, opts)
      nil
    end

    # Check repository tags
    # @param namespace [String] 
    # @param repository [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v2_namespaces_namespace_repositories_repository_tags_head_with_http_info(namespace, repository, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_head ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_head"
      end
      # verify the required parameter 'repository' is set
      if @api_client.config.client_side_validation && repository.nil?
        fail ArgumentError, "Missing the required parameter 'repository' when calling RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_head"
      end
      # resource path
      local_var_path = '/v2/namespaces/{namespace}/repositories/{repository}/tags'.sub('{' + 'namespace' + '}', CGI.escape(namespace.to_s)).sub('{' + 'repository' + '}', CGI.escape(repository.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesApi#v2_namespaces_namespace_repositories_repository_tags_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check repository tag
    # @param namespace [String] 
    # @param repository [String] 
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v2_namespaces_namespace_repositories_repository_tags_tag_head(namespace, repository, tag, opts = {})
      v2_namespaces_namespace_repositories_repository_tags_tag_head_with_http_info(namespace, repository, tag, opts)
      nil
    end

    # Check repository tag
    # @param namespace [String] 
    # @param repository [String] 
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v2_namespaces_namespace_repositories_repository_tags_tag_head_with_http_info(namespace, repository, tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_tag_head ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_tag_head"
      end
      # verify the required parameter 'repository' is set
      if @api_client.config.client_side_validation && repository.nil?
        fail ArgumentError, "Missing the required parameter 'repository' when calling RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_tag_head"
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_tag_head"
      end
      # resource path
      local_var_path = '/v2/namespaces/{namespace}/repositories/{repository}/tags/{tag}'.sub('{' + 'namespace' + '}', CGI.escape(namespace.to_s)).sub('{' + 'repository' + '}', CGI.escape(repository.to_s)).sub('{' + 'tag' + '}', CGI.escape(tag.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_tag_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesApi#v2_namespaces_namespace_repositories_repository_tags_tag_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify repository immutable tags
    # Validates  the immutable tags regex pass in parameter and returns a list of tags matching it in this repository.  **Only users with administrative privileges for the repository call this endpoint.** 
    # @param namespace [String] 
    # @param repository [String] 
    # @param immutable_tags_verify_request [ImmutableTagsVerifyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ImmutableTagsVerifyResponse]
    def verify_repository_immutable_tags(namespace, repository, immutable_tags_verify_request, opts = {})
      data, _status_code, _headers = verify_repository_immutable_tags_with_http_info(namespace, repository, immutable_tags_verify_request, opts)
      data
    end

    # Verify repository immutable tags
    # Validates  the immutable tags regex pass in parameter and returns a list of tags matching it in this repository.  **Only users with administrative privileges for the repository call this endpoint.** 
    # @param namespace [String] 
    # @param repository [String] 
    # @param immutable_tags_verify_request [ImmutableTagsVerifyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImmutableTagsVerifyResponse, Integer, Hash)>] ImmutableTagsVerifyResponse data, response status code and response headers
    def verify_repository_immutable_tags_with_http_info(namespace, repository, immutable_tags_verify_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesApi.verify_repository_immutable_tags ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling RepositoriesApi.verify_repository_immutable_tags"
      end
      # verify the required parameter 'repository' is set
      if @api_client.config.client_side_validation && repository.nil?
        fail ArgumentError, "Missing the required parameter 'repository' when calling RepositoriesApi.verify_repository_immutable_tags"
      end
      # verify the required parameter 'immutable_tags_verify_request' is set
      if @api_client.config.client_side_validation && immutable_tags_verify_request.nil?
        fail ArgumentError, "Missing the required parameter 'immutable_tags_verify_request' when calling RepositoriesApi.verify_repository_immutable_tags"
      end
      # resource path
      local_var_path = '/v2/namespaces/{namespace}/repositories/{repository}/immutabletags/verify'.sub('{' + 'namespace' + '}', CGI.escape(namespace.to_s)).sub('{' + 'repository' + '}', CGI.escape(repository.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(immutable_tags_verify_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ImmutableTagsVerifyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RepositoriesApi.verify_repository_immutable_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesApi#verify_repository_immutable_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
