=begin
#Docker HUB API

#Docker Hub is a service provided by Docker for finding and sharing container images with your team.  It is the world's largest library and community for container images.  In addition to the [Docker Hub UI](https://docs.docker.com/docker-hub/) and [Docker Hub CLI tool](https://github.com/docker/hub-tool#readme) (currently experimental), Docker provides an API that allows you to interact with Docker Hub.  Browse through the Docker Hub API documentation to explore the supported endpoints. 

The version of the OpenAPI document: 2-beta

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module DockerHub
  class ScimApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List resource types
    # Returns all resource types supported for the SCIM configuration. 
    # @param [Hash] opts the optional parameters
    # @return [V2Scim20ResourceTypesGet200Response]
    def v2_scim20_resource_types_get(opts = {})
      data, _status_code, _headers = v2_scim20_resource_types_get_with_http_info(opts)
      data
    end

    # List resource types
    # Returns all resource types supported for the SCIM configuration. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V2Scim20ResourceTypesGet200Response, Integer, Hash)>] V2Scim20ResourceTypesGet200Response data, response status code and response headers
    def v2_scim20_resource_types_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScimApi.v2_scim20_resource_types_get ...'
      end
      # resource path
      local_var_path = '/v2/scim/2.0/ResourceTypes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/scim+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V2Scim20ResourceTypesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSCIMAuth']

      new_options = opts.merge(
        :operation => :"ScimApi.v2_scim20_resource_types_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScimApi#v2_scim20_resource_types_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a resource type
    # Returns a resource type by name. 
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @return [ScimResourceType]
    def v2_scim20_resource_types_name_get(name, opts = {})
      data, _status_code, _headers = v2_scim20_resource_types_name_get_with_http_info(name, opts)
      data
    end

    # Get a resource type
    # Returns a resource type by name. 
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScimResourceType, Integer, Hash)>] ScimResourceType data, response status code and response headers
    def v2_scim20_resource_types_name_get_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScimApi.v2_scim20_resource_types_name_get ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling ScimApi.v2_scim20_resource_types_name_get"
      end
      # resource path
      local_var_path = '/v2/scim/2.0/ResourceTypes/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/scim+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ScimResourceType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSCIMAuth']

      new_options = opts.merge(
        :operation => :"ScimApi.v2_scim20_resource_types_name_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScimApi#v2_scim20_resource_types_name_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List schemas
    # Returns all schemas supported for the SCIM configuration. 
    # @param [Hash] opts the optional parameters
    # @return [V2Scim20SchemasGet200Response]
    def v2_scim20_schemas_get(opts = {})
      data, _status_code, _headers = v2_scim20_schemas_get_with_http_info(opts)
      data
    end

    # List schemas
    # Returns all schemas supported for the SCIM configuration. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V2Scim20SchemasGet200Response, Integer, Hash)>] V2Scim20SchemasGet200Response data, response status code and response headers
    def v2_scim20_schemas_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScimApi.v2_scim20_schemas_get ...'
      end
      # resource path
      local_var_path = '/v2/scim/2.0/Schemas'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/scim+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V2Scim20SchemasGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSCIMAuth']

      new_options = opts.merge(
        :operation => :"ScimApi.v2_scim20_schemas_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScimApi#v2_scim20_schemas_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a schema
    # Returns a schema by ID. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ScimSchema]
    def v2_scim20_schemas_id_get(id, opts = {})
      data, _status_code, _headers = v2_scim20_schemas_id_get_with_http_info(id, opts)
      data
    end

    # Get a schema
    # Returns a schema by ID. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScimSchema, Integer, Hash)>] ScimSchema data, response status code and response headers
    def v2_scim20_schemas_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScimApi.v2_scim20_schemas_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ScimApi.v2_scim20_schemas_id_get"
      end
      # resource path
      local_var_path = '/v2/scim/2.0/Schemas/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/scim+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ScimSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSCIMAuth']

      new_options = opts.merge(
        :operation => :"ScimApi.v2_scim20_schemas_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScimApi#v2_scim20_schemas_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get service provider config
    # Returns a service provider config for Docker's configuration. 
    # @param [Hash] opts the optional parameters
    # @return [ScimServiceProviderConfig]
    def v2_scim20_service_provider_config_get(opts = {})
      data, _status_code, _headers = v2_scim20_service_provider_config_get_with_http_info(opts)
      data
    end

    # Get service provider config
    # Returns a service provider config for Docker&#39;s configuration. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScimServiceProviderConfig, Integer, Hash)>] ScimServiceProviderConfig data, response status code and response headers
    def v2_scim20_service_provider_config_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScimApi.v2_scim20_service_provider_config_get ...'
      end
      # resource path
      local_var_path = '/v2/scim/2.0/ServiceProviderConfig'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/scim+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ScimServiceProviderConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSCIMAuth']

      new_options = opts.merge(
        :operation => :"ScimApi.v2_scim20_service_provider_config_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScimApi#v2_scim20_service_provider_config_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List users
    # Returns paginated users for an organization. Use `startIndex` and `count` query parameters to receive paginated results.  **Sorting:**  Sorting allows you to specify the order in which resources are returned by specifying a combination of `sortBy` and `sortOrder` query parameters.  The `sortBy` parameter specifies the attribute whose value will be used to order the returned responses. The `sortOrder` parameter defines the order in which the `sortBy` parameter is applied. Allowed values are \"ascending\" and \"descending\".  **Filtering:**  You can request a subset of resources by specifying the `filter` query parameter containing a filter expression. Attribute names and attribute operators used in filters are case insensitive. The filter parameter must contain at least one valid expression. Each expression must contain an attribute name followed by an attribute operator and an optional value.  Supported operators are listed below.  - `eq` equal - `ne` not equal - `co` contains - `sw` starts with - `and` Logical \"and\" - `or` Logical \"or\" - `not` \"Not\" function - `()` Precedence grouping 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start_index 
    # @option opts [Integer] :count 
    # @option opts [String] :filter 
    # @option opts [String] :attributes Comma delimited list of attributes to limit to in the response.
    # @option opts [String] :sort_order 
    # @option opts [String] :sort_by User attribute to sort by.
    # @return [V2Scim20UsersGet200Response]
    def v2_scim20_users_get(opts = {})
      data, _status_code, _headers = v2_scim20_users_get_with_http_info(opts)
      data
    end

    # List users
    # Returns paginated users for an organization. Use &#x60;startIndex&#x60; and &#x60;count&#x60; query parameters to receive paginated results.  **Sorting:**  Sorting allows you to specify the order in which resources are returned by specifying a combination of &#x60;sortBy&#x60; and &#x60;sortOrder&#x60; query parameters.  The &#x60;sortBy&#x60; parameter specifies the attribute whose value will be used to order the returned responses. The &#x60;sortOrder&#x60; parameter defines the order in which the &#x60;sortBy&#x60; parameter is applied. Allowed values are \&quot;ascending\&quot; and \&quot;descending\&quot;.  **Filtering:**  You can request a subset of resources by specifying the &#x60;filter&#x60; query parameter containing a filter expression. Attribute names and attribute operators used in filters are case insensitive. The filter parameter must contain at least one valid expression. Each expression must contain an attribute name followed by an attribute operator and an optional value.  Supported operators are listed below.  - &#x60;eq&#x60; equal - &#x60;ne&#x60; not equal - &#x60;co&#x60; contains - &#x60;sw&#x60; starts with - &#x60;and&#x60; Logical \&quot;and\&quot; - &#x60;or&#x60; Logical \&quot;or\&quot; - &#x60;not&#x60; \&quot;Not\&quot; function - &#x60;()&#x60; Precedence grouping 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start_index 
    # @option opts [Integer] :count 
    # @option opts [String] :filter 
    # @option opts [String] :attributes Comma delimited list of attributes to limit to in the response.
    # @option opts [String] :sort_order 
    # @option opts [String] :sort_by User attribute to sort by.
    # @return [Array<(V2Scim20UsersGet200Response, Integer, Hash)>] V2Scim20UsersGet200Response data, response status code and response headers
    def v2_scim20_users_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScimApi.v2_scim20_users_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'start_index'].nil? && opts[:'start_index'] < 1
        fail ArgumentError, 'invalid value for "opts[:"start_index"]" when calling ScimApi.v2_scim20_users_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 200
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling ScimApi.v2_scim20_users_get, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling ScimApi.v2_scim20_users_get, must be greater than or equal to 1.'
      end

      allowable_values = ["ascending", "descending"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v2/scim/2.0/Users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startIndex'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'attributes'] = opts[:'attributes'] if !opts[:'attributes'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/scim+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V2Scim20UsersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSCIMAuth']

      new_options = opts.merge(
        :operation => :"ScimApi.v2_scim20_users_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScimApi#v2_scim20_users_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a user
    # Returns a user by ID. 
    # @param id [String] The user ID.
    # @param [Hash] opts the optional parameters
    # @return [ScimUser]
    def v2_scim20_users_id_get(id, opts = {})
      data, _status_code, _headers = v2_scim20_users_id_get_with_http_info(id, opts)
      data
    end

    # Get a user
    # Returns a user by ID. 
    # @param id [String] The user ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScimUser, Integer, Hash)>] ScimUser data, response status code and response headers
    def v2_scim20_users_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScimApi.v2_scim20_users_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ScimApi.v2_scim20_users_id_get"
      end
      # resource path
      local_var_path = '/v2/scim/2.0/Users/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/scim+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ScimUser'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSCIMAuth']

      new_options = opts.merge(
        :operation => :"ScimApi.v2_scim20_users_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScimApi#v2_scim20_users_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a user
    # Updates a user. This route is used to change the user's name, activate, and deactivate the user. 
    # @param id [String] The user ID.
    # @param v2_scim20_users_id_put_request [V2Scim20UsersIdPutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ScimUser]
    def v2_scim20_users_id_put(id, v2_scim20_users_id_put_request, opts = {})
      data, _status_code, _headers = v2_scim20_users_id_put_with_http_info(id, v2_scim20_users_id_put_request, opts)
      data
    end

    # Update a user
    # Updates a user. This route is used to change the user&#39;s name, activate, and deactivate the user. 
    # @param id [String] The user ID.
    # @param v2_scim20_users_id_put_request [V2Scim20UsersIdPutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScimUser, Integer, Hash)>] ScimUser data, response status code and response headers
    def v2_scim20_users_id_put_with_http_info(id, v2_scim20_users_id_put_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScimApi.v2_scim20_users_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ScimApi.v2_scim20_users_id_put"
      end
      # verify the required parameter 'v2_scim20_users_id_put_request' is set
      if @api_client.config.client_side_validation && v2_scim20_users_id_put_request.nil?
        fail ArgumentError, "Missing the required parameter 'v2_scim20_users_id_put_request' when calling ScimApi.v2_scim20_users_id_put"
      end
      # resource path
      local_var_path = '/v2/scim/2.0/Users/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/scim+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/scim+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v2_scim20_users_id_put_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ScimUser'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSCIMAuth']

      new_options = opts.merge(
        :operation => :"ScimApi.v2_scim20_users_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScimApi#v2_scim20_users_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create user
    # Creates a user. If the user already exists by email, they are assigned to the organization on the \"company\" team. 
    # @param v2_scim20_users_post_request [V2Scim20UsersPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ScimUser]
    def v2_scim20_users_post(v2_scim20_users_post_request, opts = {})
      data, _status_code, _headers = v2_scim20_users_post_with_http_info(v2_scim20_users_post_request, opts)
      data
    end

    # Create user
    # Creates a user. If the user already exists by email, they are assigned to the organization on the \&quot;company\&quot; team. 
    # @param v2_scim20_users_post_request [V2Scim20UsersPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScimUser, Integer, Hash)>] ScimUser data, response status code and response headers
    def v2_scim20_users_post_with_http_info(v2_scim20_users_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScimApi.v2_scim20_users_post ...'
      end
      # verify the required parameter 'v2_scim20_users_post_request' is set
      if @api_client.config.client_side_validation && v2_scim20_users_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v2_scim20_users_post_request' when calling ScimApi.v2_scim20_users_post"
      end
      # resource path
      local_var_path = '/v2/scim/2.0/Users'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/scim+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/scim+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v2_scim20_users_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ScimUser'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSCIMAuth']

      new_options = opts.merge(
        :operation => :"ScimApi.v2_scim20_users_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScimApi#v2_scim20_users_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
